h1 {
    margin: 10px;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    width: 800px;
    height: 800px;
    padding: 10px;
    border-style:solid;
    border-color: black;
    border-width: thin;
    margin-top:20px;

}

.pixel-class {
    background-color: white;
    margin: 0px;
}

.pixel-hover-bw {
    background-color: black;

}